[submodule "externals/zlib-ng"]
	path = externals/zlib-ng
	url = https://github.com/shadps4-emu/ext-zlib-ng.git
	shallow = true
[submodule "externals/sdl3"]
	path = externals/sdl3
	url = https://github.com/shadps4-emu/ext-SDL.git
	shallow = true
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/shadps4-emu/ext-fmt.git
	shallow = true
[submodule "externals/vulkan-headers"]
	path = externals/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	shallow = true
[submodule "externals/vma"]
	path = externals/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	shallow = true
[submodule "externals/robin-map"]
	path = externals/robin-map
	url = https://github.com/Tessil/robin-map.git
	shallow = true
[submodule "externals/magic_enum"]
	path = externals/magic_enum
	url = https://github.com/Neargye/magic_enum.git
	shallow = true
[submodule "externals/toml11"]
	path = externals/toml11
	url = https://github.com/ToruNiina/toml11.git
	shallow = true
[submodule "externals/ext-boost"]
	path = externals/ext-boost
	url = https://github.com/shadps4-emu/ext-boost.git
	shallow = true
[submodule "externals/half"]
	path = externals/half
	url = https://github.com/ROCm/half.git
	shallow = true
[submodule "externals/pugixml"]
	path = externals/pugixml
	url = https://github.com/zeux/pugixml.git
	shallow = true
[submodule "externals/MoltenVK/SPIRV-Cross"]
	path = externals/MoltenVK/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
	shallow = true
[submodule "externals/MoltenVK/MoltenVK"]
	path = externals/MoltenVK/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK
	shallow = true
[submodule "externals/MoltenVK/cereal"]
	path = externals/MoltenVK/cereal
	url = https://github.com/USCiLab/cereal
	shallow = true
[submodule "externals/volk"]
	path = externals/volk
	url = https://github.com/zeux/volk.git
	branch = master
