[submodule "externals/sdl3"]
	path = externals/sdl3
	url = https://github.com/shadps4-emu/ext-SDL.git
	shallow = true
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/shadps4-emu/ext-fmt.git
	shallow = true
[submodule "externals/toml11"]
	path = externals/toml11
	url = https://github.com/ToruNiina/toml11.git
	shallow = true
[submodule "externals/pugixml"]
	path = externals/pugixml
	url = https://github.com/zeux/pugixml.git
	shallow = true
[submodule "externals/volk"]
	path = externals/volk
	url = https://github.com/zeux/volk.git
	branch = master
[submodule "externals/vulkan-headers"]
	path = externals/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
	shallow = true
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
	branch = develop
[submodule "externals/MoltenVK"]
	path = externals/MoltenVK
	url = https://github.com/squidbus/MoltenVK
